{$APP_DOMAIN:almacen.example.com}, www.{$APP_DOMAIN:almacen.example.com} {
  encode gzip zstd
  reverse_proxy frontend:80
}

{$API_DOMAIN:api.almacen.example.com} {
  encode gzip zstd
  reverse_proxy backend:3002
}

{$BOT_DOMAIN:bot.almacen.example.com} {
  encode gzip zstd
  reverse_proxy n8n:5678
}

{$WA_DOMAIN:wa.almacen.example.com} {
  encode gzip zstd
  reverse_proxy evolution-api:8080
}
