rifasmejia.store, www.rifasmejia.store {
  encode gzip zstd
  reverse_proxy frontend:80
}

api.rifasmejia.store {
  encode gzip zstd
  reverse_proxy backend:3002
}

bot.rifasmejia.store {
  encode gzip zstd
  reverse_proxy n8n:5678
}
